/* You can add global styles to this file, and also import other style files */
:root {
--black: #000000;
--blackFade: #000000cc;
--gradientDark: linear-gradient(180deg, #313131 0%, #000000 80.08%);
--inkGray: #212121;
--midnightGray: #5b5e60;
--shuttleGray: #57606c;
--steelGray: #a1a1a1;
--pearlGray: #d8d8d8;
--mysticGray: #e4e8ee;
--fogWhite: #f5f5f7;
--whiteFade: #ffffffcc;
--white: #ffffff;
--gradientLight: linear-gradient(180deg, #f7f7f7 0%, #ffffff 100%);
--seaBlue: #0048c7;
--skyBlue: #428cf4;
--irisBlue: #00a7cd;
--glacierBlue: #2ec5e7;
--mossGreen: #003d11;
--grassGreen: #007f14;
--emeraldGreen: #32c958;
--jungleGreen: #00b98c;
--turtleGreen: #09d5a4;
--mintGreen: #ddffe9;
--roseRed: #610015;
--candyRed: #d60000;
--coralPink: #ff6262;
--salmonPink: #ffe5e9;
--fruityOrange: #ed7113;
--sunflowerYellow: #ffa618;
--everiBlue: #110A2D;
--linkactive:#53AFC3;

--radius0: 0px;
--radius4: 4px;
--radius8: 8px;
--radius16: 16px;
--radius20: 20px;
--radiusRound: 1000px;

--fontSize8: 8px;
--fontSize12: 12px;
--fontSize14: 14px;
--fontSize16: 16px;
--fontSize20: 20px;
--fontSize24: 24px;
--fontSize28: 28px;
--fontSize32: 32px;
--fontSize40: 40px;

--fontFamily: 'figtree';

--default: 400;
--semi: 600;
--strong: 800;

--height4: 4px;
--height8: 8px;
--height12: 12px;
--height16: 16px;
--height20: 20px;
--height24: 24px;
--height28: 28px;
--height32: 32px;
--height36: 36px;
--height40: 40px;
--height44: 44px;
--height48: 48px;
--height52: 52px;
--height56: 56px;
--height60: 60px;
--height64: 64px;
--height68: 68px;
--height72: 72px;
--height76: 76px;
--height80: 80px;
--height84: 84px;
--height104: 104px;
--height112: 112px;
--height128: 128px;
--height140: 140px;
--height152: 152px;
--height168: 168px;
--height192: 192px;
--height200: 200px;
--height240: 240px;
--height276: 276px;
--height308: 308px;
--height352: 352px;
--height400: 400px;

/* width-variables */

--width4: 4px;
--width8: 8px;
--width12: 12px;
--width16: 16px;
--width20: 20px;
--width24: 24px;
--width28: 28px;
--width32: 32px;
--width36: 36px;
--width40: 40px;
--width44: 44px;
--width48: 48px;
--width52: 52px;
--width56: 56px;
--width60: 60px;
--width64: 64px;
--width68: 68px;
--width72: 72px;
--width76: 76px;
--width80: 80px;
--width84: 84px;
--width104: 104px;
--width112: 112px;
--width128: 128px;
--width140: 140px;
--width152: 152px;
--width168: 168px;
--width192: 192px;
--width200: 200px;
--width240: 240px;
--width276: 276px;
--width300: 300px;
--width308: 308px;
--width322: 322px;
--width352: 352px;
--width375: 375px;
--width400: 400px;
--width412: 412px;
--width522: 522px;
--fullWidth: 100%;
/* space-variables */

--space0: 0px;
--space4: 4px;
--space8: 8px;
--space12: 12px;
--space16: 16px;
--space20: 20px;
--space24: 24px;
--space28: 28px;
--space32: 32px;
--space48: 48px;
--space64: 64px;
--space84: 84px;
--space96: 96px;

 /* border-variables */

--border1: 1px;

/* font weight*/

--default: 400px;
--semi: 500px;
--strong: 600px;

/* theme based / secondary -variables */
  --button-primary-font-color: var(--white);
  --button-primary-background-color: var(--jungleGreen);
  --button-primary-disabled-background-color: var(--midnightGray);
  --button-secondary-border-color: var(--jungleGreen);
  --button-secondary-font-color: var(--jungleGreen);
  --button-secondary-background-color: var(--white);
  --button-secondary-disabled-background-color: var(--white);
  --button-secondary-disabled-font-color: var(--midnightGray);
  --button-secondary-disabled-border-color: var(--midnightGray);
  --line-height-large: 1.5;
  --card-fade-color: var(--whiteFade);
  --shadow-button-card: 0px -3px 8px rgba(0, 0, 0, 0.1);
  --Color-Variables-fonts-fontPrimary: var(--black);
  --Font-Family-fontFamily: var(--fontFamily);
  /* responsive variables */
  // --sideMargin: 0px;

}

.light-mode{
    --button-primary-font-color: var(--white);
  --button-primary-background-color: var(--jungleGreen);
  --button-primary-disabled-background-color: var(--midnightGray);
  --button-secondary-border-color: var(--jungleGreen);
  --button-secondary-font-color: var(--jungleGreen);
  --button-secondary-background-color: var(--white);
  --button-secondary-disabled-background-color: var(--white);
  --button-secondary-disabled-font-color: var(--midnightGray);
  --button-secondary-disabled-border-color: var(--midnightGray);
    --field-background-color:var(--white);
  --field-border-color: var(--steelGray);
  --field-font-color: var(--shuttleGray);
  --assistive-text-color: var(--shuttleGray);
  --link-font-color: var(--seaBlue);
  --screenBackgroundPrimary:var(--fogWhite);
  --cardPrimary: var(--white);
}
.dark-mode{
    --button-primary-font-color: var(--black);
  --button-primary-background-color: var(--turtleGreen);
  --button-primary-disabled-background-color: var(--pearlGray);
  --button-secondary-border-color: var(--turtleGreen);
  --button-secondary-font-color: var(--turtleGreen);
  --button-secondary-background-color: var(--black);
  --button-secondary-disabled-background-color: var(--black);
  --button-secondary-disabled-font-color: var(--pearlGray);
  --button-secondary-disabled-border-color: var(--pearlGray);
  --screenBackgroundPrimary:var(--inkGray);
  --cardPrimary: var(--black);
}

/* Mobile (default styles often apply here) */
@media only screen and (max-width: 767px) {
  /* Styles for mobile devices */
  :root {
    --sideMargin: 16px;
    // --fullWidth: 375px;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Styles for tablets */
  :root {
    --sideMargin: 48px;
    // --fullWidth: 768px;
  }
}

/* Desktop */
@media only screen and (min-width: 1025px) {
  /* Styles for desktops */
  :root {
    --sideMargin: 200px;
    // --fullWidth: 1440px;
  }
}
