.enroll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
//   width: 100%;
//   height: 100%;
}
.enroll {
  display: flex;
width: 512px;
padding-top: var(--space84, 84px);
flex-direction: column;
align-items: center;
gap: var(--space0, 0);
border-radius: var(--radius0, 0);
/* shadow0 */
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.00);
}
.enroll-card{
    display: flex;
    padding: var(--space32, 32px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--space0, 0);
    align-self: stretch;
    border-radius: var(--radius16, 16px);
    background: var(--cardPrimary, #FFF);
}
.copyContentLarge{
    display: flex;
    padding: var(--space12, 12px) var(--sideMargins, 0);
    flex-direction: column;
    justify-content: center;
 //   align-items: flex-start;
    gap: var(--space4, 4px);
    align-self: stretch;
    border-radius: var(--radius0, 0);

/* shadow0 */
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.00);
.header{
    color: #000000;
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;

    /* header/Large/headerSemi20 */
    font-family: var(--fontFamily, Figtree);
    font-size: 20px;
    font-style: normal;
    font-weight: var(--semi, 600);
    line-height: 140%; /* 28px */
    }
}